/* Small Screen */
.container {
    margin: 1rem;
  }
  
.addform {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
.form__left {
    margin-bottom: 1rem;
   
}
  
title{
    color: black;
    margin-bottom: 1rem;
    font-size: 2.44rem;
}
  
  .form{
    color: #5F9EA0;
    margin-bottom: 1rem;
    margin-top: 1rem;

}
.form1{
    color: #5F9EA0;
    margin-left: 10px;
}

  
.button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 10px;
    background-color: #008080;
    color: #fff;
}
  
.image {
    max-width: 70%;
    height: auto;
    border-radius: 25px;
}
  
  /* Medium Screen */
@media (min-width: 768px) {
    /*
     * Nothing TODO Here.
     * We dont change style Hero. 
     */
  }
  
  /* Large Screen */
  @media (min-width: 992px) {
    .container {
      max-width: 1200px;
      margin: 3rem auto;
    }
  
    .addform {
      margin: 0 1rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .form__right {
      flex-basis: 50%;
    }
  
    .form__left {
      flex-basis: 40%;
    }
  }